*need **something better than SimpleImputer** for missing value imputation?*

>*try **KNNimputer** or **iterativeImputer**(inspired by R's MICE package),*

<br>*both are **multivarite approaches** (they take other features into account!)*

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns

In [12]:
df = sns.load_dataset('titanic')

X = df[['fare','age']].tail()
X

      fare   age
886  13.00  27.0
887  30.00  19.0
888  23.45   NaN
889  30.00  26.0
890   7.75  32.0

> ***iterative imputer:*** *Fills missing values by repeatedly predicting each feature from the remaining features using a learned model, refining estimates until stable values are reached.*

In [13]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [14]:
impute_it = IterativeImputer()
impute_it.fit_transform(X)

array([[13.        , 27.        ],
       [30.        , 19.        ],
       [23.45      , 24.98026255],
       [30.        , 26.        ],
       [ 7.75      , 32.        ]])

> ***KNNimputer:*** *Replaces missing values using the average (or weighted average) of the k-nearest samples based on feature similarity.*

In [15]:
from sklearn.impute import KNNImputer

In [16]:
impute_knn = KNNImputer(n_neighbors=2)
impute_knn.fit_transform(X)

array([[13.  , 27.  ],
       [30.  , 19.  ],
       [23.45, 22.5 ],
       [30.  , 26.  ],
       [ 7.75, 32.  ]])