***want to vectorize two text columns in a ColumnTransformer?***
> *you can't pass them in a list, but you can **pass the vectorizer twice!***<br>
*(They'll learn separate vocabularies)*

In [20]:
import pandas as pd
import seaborn as sns

df = sns.load_dataset('titanic')

sdf = df[['age', 'pclass', 'who', 'class', 'fare', 'survived']]
sdf = sdf.dropna()

X = sdf.drop('survived', axis=1)
y = sdf['survived']

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.1, random_state=42)

In [21]:
X

      age  pclass    who   class     fare
0    22.0       3    man   Third   7.2500
1    38.0       1  woman   First  71.2833
2    26.0       3  woman   Third   7.9250
3    35.0       1  woman   First  53.1000
4    35.0       3    man   Third   8.0500
..    ...     ...    ...     ...      ...
885  39.0       3  woman   Third  29.1250
886  27.0       2    man  Second  13.0000
887  19.0       1  woman   First  30.0000
889  26.0       1    man   First  30.0000
890  32.0       3    man   Third   7.7500

[714 rows x 5 columns]

In [22]:
X['who'].value_counts()

who
man      413
woman    218
child     83
Name: count, dtype: int64

man    → [1, 0, 0] <br>
woman  → [0, 1, 0] <br>
child  → [0, 0, 1] <br>

In [25]:
X['class'].value_counts()

class
Third     355
First     186
Second    173
Name: count, dtype: int64

In [23]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()

In [24]:
from sklearn.compose import make_column_transformer
ct = make_column_transformer((vect, 'who'), (vect, 'class'))
ct.fit_transform(X)

array([[0, 1, 0, 0, 0, 1],
       [0, 0, 1, 1, 0, 0],
       [0, 0, 1, 0, 0, 1],
       ...,
       [0, 0, 1, 1, 0, 0],
       [0, 1, 0, 1, 0, 0],
       [0, 1, 0, 0, 0, 1]], shape=(714, 6))