*use `drop='if_binary` with OneHotEncoder to drop the first category ONLY if it's a binary features(meaning it has exactly two categories).*

In [54]:
import pandas as pd

X = pd.DataFrame({
    "Shape": ["circle", "oval", "square", "square"],
    "Color": ["pink", "yellow", "pink", "yellow"]
})

X

    Shape   Color
0  circle    pink
1    oval  yellow
2  square    pink
3  square  yellow

In [55]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()

In [ ]:
#drop=None (default) creates one feature column per category:
X_ohe = ohe.fit_transform(X)
df_ohe = pd.DataFrame(
    X_ohe.toarray(),
    columns=ohe.get_feature_names_out()
)

df_ohe

   Shape_circle  Shape_oval  Shape_square  Color_pink  Color_yellow
0           1.0         0.0           0.0         1.0           0.0
1           0.0         1.0           0.0         0.0           1.0
2           0.0         0.0           1.0         1.0           0.0
3           0.0         0.0           1.0         0.0           1.0

In [ ]:
#drop='first' drops the first category in each feature:
ohe = OneHotEncoder(drop='first')

X_ohe = ohe.fit_transform(X)
df_ohe = pd.DataFrame(
    X_ohe.toarray(),
    columns=ohe.get_feature_names_out()
)

df_ohe

   Shape_oval  Shape_square  Color_yellow
0         0.0           0.0           0.0
1         1.0           0.0           1.0
2         0.0           1.0           0.0
3         0.0           1.0           1.0

In [ ]:
#drop='if binary' drops the first category of binary features:
ohe = OneHotEncoder(drop='if_binary')
X_ohe = ohe.fit_transform(X)
df_ohe = pd.DataFrame(
    X_ohe.toarray(),
    columns=ohe.get_feature_names_out()
)

df_ohe

   Shape_circle  Shape_oval  Shape_square  Color_yellow
0           1.0         0.0           0.0           0.0
1           0.0         1.0           0.0           1.0
2           0.0         0.0           1.0           0.0
3           0.0         0.0           1.0           1.0