*in a ColumnTransformer, you can use the strings **'passthrough'** and **'drop'** in place of a transformer. Useful if you need to passthrough some columns and drop others!*

In [12]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "A": [1.0, 2.0, np.nan],
    "B": [10, 20, 30],
    "C": [100, 200, 300],
    "D": [1000, 2000, 3000],
    "E": [10000, 20000, 30000]
})

df

     A   B    C     D      E
0  1.0  10  100  1000  10000
1  2.0  20  200  2000  20000
2  NaN  30  300  3000  30000

In [13]:
from sklearn.compose import make_column_transformer
from sklearn.impute import SimpleImputer
impute = SimpleImputer()

In [14]:
#impute A, passthrough B & C, then drop the remianing columns
ct = make_column_transformer(
    (impute, ['A']),
    ('passthrough', ['B', 'C']),
    remainder='drop' #the columns which are not mentioned here are dropped!
)

In [15]:
ct.fit_transform(df)

array([[  1. ,  10. , 100. ],
       [  2. ,  20. , 200. ],
       [  1.5,  30. , 300. ]])

In [16]:
#impute A, drop D & E, then passthrough the remaining columns
ct = make_column_transformer(
    (impute, ['A']),
    ('drop', ['D', 'E']),
    remainder='passthrough'
)

In [17]:
ct.fit_transform(df)

array([[  1. ,  10. , 100. ],
       [  2. ,  20. , 200. ],
       [  1.5,  30. , 300. ]])